.tag
    display inline-block
    padding 0.25em 0.4em
    font-size 75%
    font-weight $font-weight-bold
    line-height 1
    color $white
    text-align center
    white-space nowrap
    vertical-align baseline
    border-radius $border-radius
    &:empty
        display none

.btn
    .tag
        position relative
        top -1px

.tag-pill
    padding-right 0.6em
    padding-left 0.6em
    border-radius 10rem

.tag-primary
    color $white
    background-color $primary

.tag-primary[href]:focus, .tag-primary[href]:hover
    color $white
    text-decoration none
    background-color $primaryHov

.tag-secondary
    color $white
    background-color $secondary

.tag-secondary[href]:focus, .tag-secondary[href]:hover
    color $white
    text-decoration none
    background-color $secondaryHov

.tag-success
    color $white
    background-color $success

.tag-success[href]:focus, .tag-success[href]:hover
    color $white
    text-decoration none
    background-color $successHov

.tag-info
    color $white
    background-color $info

.tag-info[href]:focus, .tag-info[href]:hover
    color $white
    text-decoration none
    background-color $infoHov

.tag-warning
    color #111
    background-color $warning

.tag-warning[href]:focus, .tag-warning[href]:hover
    color #111
    text-decoration none
    background-color $warningHov

.tag-danger
    color $white
    background-color $danger

.tag-danger[href]:focus, .tag-danger[href]:hover
    color $white
    text-decoration none
    background-color $dangerHov

.tag-light
    color #111
    background-color $light

.tag-light[href]:focus, .tag-light[href]:hover
    color #111
    text-decoration none
    background-color $lightHov

.tag-dark
    color $white
    background-color $dark

.tag-dark[href]:focus, .tag-dark[href]:hover
    color $white
    text-decoration none
    background-color $darkHov
