// colors
$white ?= #fff
$gray-100 ?= #f8f9fa
$gray-200 ?= #e9ecef
$gray-300 ?= #dee2e6
$gray-400 ?= #ced4da
$gray-500 ?= #adb5bd
$gray-600 ?= #868e96
$gray-700 ?= #495057
$gray-800 ?= #343a40
$gray-900 ?= #212529
$black ?= #000

$primary ?= #007bff
$primaryHov ?= #0062cc
$primaryBtnHov ?= #0069d9
$secondary ?= $gray-600
$secondaryHov ?= #6c757d
$secondaryBtnHov ?= #727b84
$success ?= #28a745
$successHov ?= #1e7e34
$successBtnHov ?= #218838
$info ?= #17a2b8
$infoHov ?= #117a8b
$infoBtnHov ?= #138496
$warning ?= #ffc107
$warningHov ?= #d39e00
$warningBtnHov ?= #e0a800
$danger ?= #dc3545
$dangerHov ?= #bd2130
$dangerBtnHov ?= #c82333
$light ?= $gray-100
$lightHov ?= #dae0e5
$lightBtnHov ?= #e2e6ea
$dark ?= $gray-800
$darkHov ?= #1d2124
$darkBtnHov ?= #23272b

//col includes
$col-include ?= true
$col-sm-include ?= true
$col-md-include ?= true
$col-lg-include ?= true
$col-xl-include ?= true

//grid breakpoints
$grid-sm ?= 576px
$grid-md ?= 768px
$grid-lg ?= 992px
$grid-xl ?= 1200px

//container includes
$container-sm-include ?= true
$container-md-include ?= true
$container-lg-include ?= true
$container-xl-include ?= true

//container-max-size
$container-sm ?= 540px
$container-md ?= 720px
$container-lg ?= 960px
$container-xl ?= 1140px

//helper-sizes
$helper-size-0 ?= $null
$helper-size-1 ?= .25rem
$helper-size-2 ?= .5rem
$helper-size-3 ?= 1rem
$helper-size-4 ?= 1.5rem
$helper-size-5 ?= 3rem

$line-height-lg ?= 1.5
$line-height-sm ?= 1.5

$border-width ?= 1px
$border-color ?= $gray-200

$border-radius ?= .25rem
$border-radius-lg ?= .3rem
$border-radius-sm ?= .2rem
