.bible
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color $accentColor
  color $bibleTextColor
  .title
    font-weight bold

.custom-block
  &.bible_address
    color $bibleTextColor
    font-size 0.9rem
    text-align right
    & a
      color $bibleTextColor
